<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.appInfoSystem.dao.DevUserMapper">

    <select id="verifyDevPwd" resultType="String">
        select devPassword from dev_user where devCode = #{devCode}
    </select>

    <select id="getDevName" resultType="String">
        select devName from dev_user where devCode = #{devCode}
    </select>
</mapper>